h1 {
  color: red;
}

p {
  color:aqua;
}

li {
  color: red;
  
  }

li em {
  color: rebeccapurple;
  font-weight: bold;
}

li.special,
span.special {
  color:yellow;
  font-weight: bold;
}

h1 + p {
  font-size: 200%;
}

a:link {
  color: pink;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}
